/* Classes */
.game-page-style {
    background-color: #221e2d;
    color: white;
}

.text-center {
  text-align: center;
}

.earth {
  margin: 5%;
  animation: rotation 480s linear infinite;
  position: inherit;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: -5px;
  }
  50% {
    bottom: 5px;
  }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
		}
}

@keyframes Scale{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }
}


.hide {
  display: none;
}

.stat-style {
  padding: 3px;
  border-bottom: 2px solid #fafafa;
  border-left: 3px solid #726d82;
  border-radius: 2px 0 0 10px;
}

p span {
  font-weight: bold;
  font-size: 1.2em;
}

.button-style {
  color: black;
  border-radius: 18px;
  text-align: center;
  padding: 5%;
}

.button-margin {
  margin-top: 5%;

}

.tech-incr {
  display: block;
}

.food-pop-incr {
  display: block;
}

.science-incr {
  display: block;
}

.text-overlay {
  position: fixed;
}

.title-font {
  font-family: 'Skranji', cursive;
}

.main-font {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.win-screen {
  margin: 0 0 70px;
  text-align: center;
  margin: 150px;

}

.lose-screen {
  margin: 0 0 70px;
  text-align: center;
  margin: 150px;

}

.z-index-top {
  z-index: 5;
  position: relative;
}
.stars, .twinkling, .clouds, .clouds-back{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.twinkling{
  background:transparent url(img/overlay2.png) repeat top center;
  z-index: 2;

  animation:twink-diagonal 1000s linear infinite;
}

.clouds{
  background:transparent url(img/cloud2.png) repeat top center;
  z-index: 3;

  animation:clouds 2000s linear infinite;
}

.clouds-back{
  background:transparent url(img/cloud3.png) repeat top center;
  z-index: 4;

  animation:clouds-back 10000s linear infinite;
}

.stars{
  background:transparent url(img/stars2.png) repeat top center;
  z-index: 1;
}

@keyframes twink-diagonal {
    from {
      background-position:0 10000px;
    }
    to {
      background-position:10000px 0;
    }
  }

@keyframes clouds {
    from {
      background-position: 1000px 0;
    }
    to {
      background-position: 0 10000px;
    }
  }

@keyframes clouds-back {
    from {
      background-position:0 10000px;
    }
    to {
      background-position:10000px 0;
    }
  }

/* IDs */

#progress-bar {
  width: 100%;
  height: 25px;
  background-color: #726d82;
  text-align: center;
  border-radius: 2px;
}

#month-back-bar {
  width: 100%;
  height: 9px;
  background-color: #726d82;
  text-align: center;
  border-radius: 2px;
  margin-top: -28px;
}

#bar {
    width: 0%;
    height: 25px;
    background-color: green;
    border-radius: 2px;
    margin-top: -28px;
}
#month-bar {
    width: 0%;
    height: 9px;
    background-color: green;
    border-radius: 2px;
    margin-top: 7px;
}
