/* Classes */
.game-page-style {
    background-color: black;
    color: white;
}

.text-center {
  text-align: center;
}

.earth {

}

.button-style {
  color: black;
}

.button-margin {
  margin-top: 5%;

}

.tech-incr {
  display: block;
}

.food-pop-incr {
  display: block;
}

.science-incr {
  display: block;
}

.text-overlay {
  position: fixed;
}

/* IDs */

#progress-bar {
    width: 100%;
    background-color: grey;
    text-align: center;
}
#bar {
    width: 0%;
    height: 30px;
    background-color: green;
}
